<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>main page</title>
    <link rel="stylesheet" href="">
     <!--부트스트랩 CSS-->
     <link
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
     integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
     crossorigin="anonymous"
   />
   <link rel="stylesheet" type="text/css" href="restaurant/custom.css">
  
  </head>
  <body>
    <div class="container-fluid">
      <div class = ttl_main>
        <p>밥약, 뒤풀이 장소 찾기 어려울 땐</p>
        <div class = "h1wrapper"><h1 id="h1_01">혜화로드</h1><h1 id="h1_02">로 쉽게!</h1></div>
      </div>
      <div class = btns_main>
        <button type="button" class="btn btn-primary btn-lg btn_idx">밥약 장소 찾기</button>
        <button type="button" class="btn btn-primary btn-lg btn_idx">뒤풀이 장소 찾기</button>
        <button type="button" class="btn btn-primary btn-lg btn_idx">랜덤 추천 받기</button>
      </div>
      <div class="bgbox"></div>
  </div> <!--container-fluid-->
  </body>
</html>
