body {
  width: 360px;
  text-align: center;
  height: 640px;
  margin: 0 auto;
}

#all_list {
  width: 74px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-top: 16px;
  margin-left: 19px;
  margin-bottom: 14px;
  color: #343434;
}
.star_score {
  margin-bottom: 0px;
}
.line1 {
  margin-bottom: 20px;
  width: 359.5px;
  height: 0;
  border-bottom: solid 0.5px #d9d9d9;
}
.card-img-top {
  width: 165px;
  height: 89px;
  background-color: #55595c;
  position: relative;
  z-index: 10;
}

.card-body {
  width: 165px;
  height: 110px;
  display: inline-block;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: -40px;
  position: relative;
  border-radius: 3%;
}

.card-title {
  width: 106px;
  height: 21px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #373a3c;
  margin-bottom: 0px;
  position: absolute;
  top: 42px;
  left: 30px;
}

.star {
  width: 9.4px;
  height: 8.9px;
  color: #5cb85c;
  position: absolute;
  top: 63.2px;
  left: 68.1px;
}

.score {
  width: 19px;
  height: 12px;
  font-family: HelveticaNeue;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
  position: absolute;
  top: 61px;
  left: 78px;
}

.clock {
  width: 11.2px;
  height: 14.9px;
  color: #4b92d9;
  position: absolute;
  top: 83.2px;
  left: 42.3px;
}

.now {
  width: 66px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #4b92d9;
  position: absolute;
  top: 84px;
  left: 58px;
}

.col {
  padding: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: #dddddd 0.5px solid;
  padding-top: 9px;
  padding-bottom: 7px;
  background-color: white;
  z-index: 11;
}
.home-nav,
.res-nav,
.bar-nav,
.random-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-nav-text,
.res-nav-text,
.bar-nav-text,
.random-nav-text {
  font-size: 12px;
}

#content {
  margin-bottom: 50px;
}
