body{
  width:360px;
  text-align: center;
  height:640px;
}
#all_list{
  width: 74px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
  position: absolute;
  top:14px;
  left:19px;
}
.star_score{
  margin-bottom:0px;
}
.line1{
  margin-top:50px;
  margin-bottom:20px;
  width: 359.5px;
  height: 0;
  border: solid 1px #d9d9d9;
}
.card-img-top{
  width: 165px;
  height: 89px;
  background-color: #55595c;
  position: relative;
  z-index:10;
}

.card-body{
  width: 165px;
  height: 110px;
  display: inline-block;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  margin-bottom:20px;
  margin-top:-40px;
  position: relative;
  border-radius: 3%;
}



.card-title{
  width: 106px;
  height: 21px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #373a3c;
  margin-bottom:0px;
  position: absolute;
  top:42px;
  left:30px;
}

.star{
  width: 9.4px;
  height: 8.9px;
  color: #5cb85c;
  position: absolute;
  top:63.2px;
  left:68.1px;
}

.score{
  width: 19px;
  height: 12px;
  font-family: HelveticaNeue;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
  position: absolute;
  top:61px;
  left:78px;
}

.clock{
  width: 11.2px;
  height: 14.9px;
  color: #4b92d9;
  position: absolute;
  top:83.2px;
  left:42.3px;
}

.now{
  width: 66px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #4b92d9;
  position: absolute;
  top:84px;
  left:58px;
}

.col{
  padding:0px;
}

#bottom_menu{
  position:fixed;
  width: 360px;
  height: 50px;
  bottom:0px;
  z-index:11;
  background-color: white;
}

#home{
  width: 14.2px;
  height: 15.3px;
  color: #c3c3c3;
}
#hometxt{
  width: 31px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
}

#person{
  width: 16px;
  height: 16px;
  color: #5cb85c;
}

#persontxt{
  width: 21px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
}

#people{
  width: 21.4px;
  height: 16px;
  color: #c3c3c3;
}

#peopletxt{
  width: 31px;
  height: 15px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
}

#random{
  width: 30px;
  height: 17px;
  color: #c3c3c3;
}

#randomtxt{
  width: 42px;
  height: 22px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
  margin-top:-30px;
}

.icon{
  margin-bottom:0px;
}