html{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    width : 360px;

}

.bgbox {
    background-color : #5cb85c86;
    position : absolute;
    top : 37%;
    left : 10%;
    height : 63%;
    width : 90%;
    z-index: -1;
   }
  
  .ttl_main {
   text-align: center;
   padding-top : 40%;
   padding-bottom: 20%;;
  }
  
  .ttl_main p {
    font-size: 20px;
    color : #5cb85c;
    margin-bottom: auto;
  }
  
  .h1wrapper h1{
    display: inline-block;
    font-size: 35px;
  }
  
  #h1_01{
    color:#4b92d9;
  }
  
  .btn_idx {
    background-color: rgba(75, 146, 217, 0.85);
    border : none;
    padding : 3%;
    width : 200px;
    margin : 2% 17.5%;
    color : white;
     border-radius: 5px;
     font-size: 20px;
  }


h2 {
    font-size : 25px;
    text-align: center;
}

p {
    text-align: center;
}

table {
    width :100%;
    margin-top : 10px;
    font-size : 12px;
}

td {
  padding : 10px;
  border-bottom: 1px solid #dddddd;
}

.tab-menu, .tab-info {
  width : 100%;
  margin-bottom: 50%;
}

#price {
  width : 30%;
  text-align: right;
}

#icon {
  width : 10%;
  text-align: center;
}

img{
width: 100%;
height: 250px;
}

#ArrowLeft{
    height: 50px;
}
.class{
    font-size: small;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: x-large;
    margin-top: 15px;
}
#detail{
    font-size: small;
}

.callbtn {
  text-align: center;
}

.callbtn .btn-primary {
    background-color:#4b92d9;
    width : 50%;
    margin-bottom: 2em;
    position : fixed;
    align-items: center;
    left : 25%;
    bottom : 1%;
    font-size: 17px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #5cb85c;
    border: solid 1px #5cb85c;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color:#373a3c;
    border-bottom: solid 1px #5cb85c;
}
